@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-header-font: 800 34px "Montserrat";
  --secondary-header-font: 900 25px "Montserrat";

  --primary-text-font: 400 16px "Nunito";
  --secondary-text-font: 400 21px "Nunito";

  --large-icon: 33px;
  --medium-icon: 25px;
}

[data-theme="light"] {
  --absolute-bg: #fff;
  --primary-bg: #f2efea;
  --secondary-bg: #a8b5a2;

  --absolute-color: #000;
  --primary-text-color: #5e6b55;
  --secondary-text-color: #202020;
  --tertiary-text-color: #88977d;
}

[data-theme="dark"] {
  --absolute-bg: #000;
  --primary-bg: #101010;
  --secondary-bg: #a8b5a2;

  --absolute-color: #ffffff;
  --primary-text-color: #5e6b55;
  --secondary-text-color: #202020;
}

/*#region MARK: animations */

@keyframes flip {
  to {
    transform: rotateX(180deg);
  }
}
.flip {
  animation: flip 400ms ease-in-out;
}
@keyframes flip-first-half {
  to {
    transform: rotateX(90deg);
  }
}
.flip-first-half {
  animation: flip-first-half 250ms ease-in;
}
@keyframes flip-second-half {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.flip-second-half {
  animation: flip-second-half 250ms ease-out;
}

@keyframes shake-x {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.shake-x {
  animation: shake-x 500ms linear 2;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spin {
  transform-origin: center;
  animation: spin 1.2s linear infinite;
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.anim-slide-in-bottom {
  animation: slide-in-bottom 500ms ease-out;
}

@keyframes scan-loading {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
  /* 100% { background-position: 0% 0%; } */
}
.scan-loading {
  min-width: 100px;
  min-height: 30px;
  background: linear-gradient(
    135deg,
    var(--secondary-bg) 0% 40%,
    var(--primary-text-color) 45% 55%,
    var(--secondary-bg) 60% 100%
  );
  background-size: 300% 300%;
  animation: scan-loading 1.5s ease infinite;
}

/*#endregion */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--primary-bg);
}

.panel-container {
  height: 100%;
  width: 100%;

  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  display: flex;
}

.app-panel {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
}

.panel-bar {
  height: fit-content;
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-name-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.panel-name {
  font: var(--secondary-header-font);
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.content-div {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toggle-btn {
  --size: 45px;

  cursor: pointer;
  height: var(--size);
  width: var(--size);

  border: none;
  border-radius: 50%;

  display: grid;
  place-items: center;

  background-color: var(--tertiary-bg);

  i {
    color: var(--primary-text-color);
    font-size: var(--large-icon);
  }
}

.back-btn {
  background-color: var(--secondary-bg);
}

.action-btn {
  --height: 70px;

  cursor: pointer;
  height: var(--height);
  width: fit-content;
  padding: 0 25px;
  margin: 5px auto;

  border: none;
  border-radius: calc(var(--height) / 2);

  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--primary-text-color);

  &.centered {
    margin: auto;
  }
  p {
    color: var(--primary-bg);
    font: var(--secondary-header-font);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  i {
    color: var(--primary-bg);
    font-size: var(--large-icon);
  }
}
